.typo_top.contact-us
  .container
    .row
      .span4.offset4
        h1 Talk to us.
        hr
        .contact_form
          form
            input.span4(type="text", placeholder="Name")
            input.span4(type="text", placeholder="Email")
            input.span4(type="text", placeholder="Name")
            textarea#textarea.input-xlarge.span4(placeholder="Message", rows="6")
            a.medium.blue.button.radius(href="#") Send 
        
