.typo_top.account-strip
  .container
    .row
      .span12
        ul.twitter-accounts
          span.accounts(ng-repeat="twitter_account in twitter_accounts")
            li.button(ng-class="{true: 'selected', false: 'unselected'}[twitter_account.name==selected_account.name] ",
              ng-click="selectTwitterAccount( twitter_account.id )")
              img.profile(ng-src='{{twitter_account.profile_image}}')
              a {{twitter_account.name}}
          li.button.add-account
            i.icon-twitter.icon-2x
            a(href="{{add_account_url}}", target="_blank") Add Twitter Account
.container.page-body.sec_3(ng-hide="selected_account==''")
  .row.action-selector
    .span4
      a.red.large.radius.button(ng-click='clickSprinkle()') Sprinkle
    .span4
      a.red.large.radius.button(ng-click='clickDownpour()') Downpour
    .span4
      a.red.large.radius.button(ng-click='clickMeasure()') Measure
  .row.action-content.downpour(ng-show="currentStep == 'downpour'")
    .span12
      form
        .drips(ng-repeat="drip in drips")
          .row
            .span1.offset2
              input.span1(type="text", value="{{drip.delay}}", ng-model="drip.delay")
            .span8
              textarea(rows='8', ng-model='drip.message').span6
                | {{drip.message}}
        .row
          .span4.offset5
            .action-buttons.pull-right
              a.signin.radius.button(ng-click='addDrip()') Drip More
              | 
              a.signin.radius.button(ng-click='saveDrips()') Save
