.typo_top
  .container
    .row
      .span12
        .panel.panel-default.twitter
          .panel-heading.twitter-accounts
            a.btn.btn-primary(href="{{add_account_url}}", target="_blank") Add Twitter Account
          .panel-body.twitter-accounts
            .accounts-column
              .list-group
                span(ng-repeat="twitter_account in twitter_accounts")
                  a.list-group-item(ng-class="{true: 'active', false: ''}[twitter_account.name==selected_account.name] ", href="#")
                    img.img-circle.profile(ng-src='{{twitter_account.profile_image}}')
                    h4 {{twitter_account.name}}
            .content-column
              .main-content(ng-hide="selected_account==''")
                .add-message
                  a.btn.btn-primary(href="#") Add new message
                h3 Auto-responders 
                .drips
                  .header
                    .delay Delay
                    .message Message
                    .controls
                  .content
                    .drips(ng-repeat="drip in drips", class)
                      .delay {{drip.delay}}
                      .message {{drip.message}}
                      .controls
                        a.btn.drip-edit(href="#") Edit
                        a.btn.btn-danger.drip-delete(href="#") Delete


.container.page-body.sec_3(ng-hide="selected_account==''")
  .row.action-selector
    .span4
      a.red.large.radius.button(ng-click='clickSprinkle()') Sprinkle
    .span4
      a.red.large.radius.button(ng-click='clickDownpour()') Downpour
    .span4
      a.red.large.radius.button(ng-click='clickMeasure()') Measure
  .row.action-content.downpour(ng-show="currentStep == 'downpour'")
    .span12
      form
        .drips(ng-repeat="drip in drips")
          .row
            .span1.offset2
              input.span1(type="text", value="{{drip.delay}}", ng-model="drip.delay")
            .span8
              textarea(rows='8', ng-model='drip.message').span6
                | {{drip.message}}
        .row
          .span4.offset5
            .action-buttons.pull-right
              a.signin.radius.button(ng-click='addDrip()') Drip More
              | 
              a.signin.radius.button(ng-click='saveDrips()') Save
