.typo_top
  .container
    .row
      .span12
        .panel.panel-default.twitter
          .panel-heading.twitter-accounts
            .add-twitter
              a.btn.btn-primary(href="{{add_account_url}}", target="_blank") Add Twitter Account
            .add-message
              button.btn.btn-primary(type="button", data-toggle="modal", data-target="#addDripModal")
                | Add new message
          .panel-body.twitter-accounts
            .accounts-column
              .list-group
                span(ng-repeat="twitter_account in twitter_accounts")
                  a.list-group-item(ng-class="{true: 'active', false: ''}[twitter_account.name==selected_account.name] ", href="#")
                    img.img-circle.profile(ng-src='{{twitter_account.profile_image}}')
                    h4 {{twitter_account.name}}
            .content-column
              .main-content(ng-hide="selected_account==''")
                h3 Auto-responders 
                .drips
                  .header
                    .delay Delay
                    .message Message
                    .controls
                  .content
                    .drips(ng-repeat="drip in drips", class)
                      .delay {{drip.delay}}
                      .message {{drip.message}}
                      .controls
                        a.btn.drip-edit(ng-click="launchEditDripModal( drip.id )") Edit
                        a.btn.btn-danger.drip-delete(href="#") Delete
div(ng-include src="partials.addRule")
div(ng-include src="partials.editRule")
