.typo_top.home
  section#intro-container.intro-container
    .intro-wrapper
      .intro_text
        h1 Twitter Engagement Simplified
        p Prospect and connect with tweeters that matter to you.
      img#product-image(src="/assets/product-image.png", style="product demo")
  hr
  .container
    .app-description
      .magic-icon
      p.bold-text Attract new followers even if the power is out.
      p.bold-text Automate your messages even while you're out.
      p.bold-text Engaged followers with meaningful conversations.
    .mail-form
      input.contact_field(type="text", placeholder="Name")
      input.contact_field(type="text", placeholder="Email")
      a.btn-large.signin.button.radius(href="#") Get Notified
      span#gg_disclosure We won't spam. By signing up, you'll be the first one to know when we launch.
.footer_sec
  footer
    .container
      p
        | &copy; 2013 Dripp.io
