<div class="typo_top">
  <div class="signin_sec">
    <h2>dripp.io</h2>
  </div>
  <div class="signin_inner custom">
    <div class="alert alert-error" ng-show="isLoginError">
      <p>{{loginErrorContent}}</p>
    </div>
    <form ng-submit="login()">
      <input ng-model="username" type="text" placeholder="Email" class="span3"/>
      <input ng-model="password" type="password" placeholder="Password" class="span3"/>
      <button type="submit" style="width:283px;" class="medium signin button radius">Sign in</button>
    </form>
    <hr/>
    <p>
      <a href="#">Forgot your password?</a>
      <span class="pull-right"> <a ng-href="#/signup">Sign up</a></span>
    </p>
  </div>
</div>
<div class="footer_sec">
  <footer>
    <div class="container">
      <p>
        &copy; 2013 Dripp.io 
        <span class="pull-right"> 
          Go back <a href="index.htm">Home &raquo;</a>
        </span>
      </p>
    </div>
  </footer>
</div>
