# PostgreSQL. Versions 8.2 and up are supported.
#
# Install the pg driver:
#     gem install pg

development:
  adapter: postgresql
  encoding: unicode
  database: dripify_dev
  host: localhost
  pool: 5
  username: dripify 
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: dripify_test
  host: localhost
  pool: 5
  username: dripify
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: dripify_prod
  host: localhost
  pool: 5
  username: dripify
  password:
