#deleteRuleModal.modal.hide.fade
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true")
      | &times;
    h3 Are you sure you want to delete this message?
  .modal-body
    p Are you sure you want to delete this message? This action can't be undone?
  .modal-footer
    a.btn(data-dismiss="modal", aria-hidden="true") No
    a.btn.btn-primary(ng-click="delete_rule(delete_id)", data-dismiss="modal", aria-hidden="true") Yes
