<!DOCTYPE html>
<html lang="en" ng-app="Drippio">
<head>
  <title>Dripp.io</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body ng-controller="DrippioController">
  <header ng-include src="partials.nav"></header>
  <div ng-view></div>
  <!--<In>production use</In><script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>-->
  <div ng-include src="partials.footer"></div>
</body>
</html>


